body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1043px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:605px;
}
#u555 {
  position:absolute;
  left:79px;
  top:197px;
  width:964px;
  height:605px;
}
#u556 {
  position:absolute;
  left:2px;
  top:294px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u557 {
  position:absolute;
  left:726px;
  top:193px;
  width:175px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u558 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  position:absolute;
  left:627px;
  top:201px;
  width:89px;
  height:20px;
}
#u560 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u561 {
  position:absolute;
  left:860px;
  top:199px;
  width:18px;
  height:18px;
}
#u562 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u563 {
  position:absolute;
  left:874px;
  top:217px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(51deg);
  -moz-transform:rotate(51deg);
  -ms-transform:rotate(51deg);
  transform:rotate(51deg);
}
#u564 {
  position:absolute;
  left:2px;
  top:-8px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u565 {
  position:absolute;
  left:79px;
  top:65px;
  width:384px;
  height:61px;
  font-size:18px;
  color:#FFFFFF;
}
#u566 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
